@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16;
  color: #fff;
  background-color: #202020;
}

button {
  cursor: pointer;

  margin-top: 7px;
  padding: 4px 5px;

  font-family: inherit;
  color: #fff;

  background-color: #e08594;
  border: none;
  border-radius: 5px;
  outline: none;

  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #c77683;
  }
}

form {
  padding: 0 10px;
}

input {
  display: block;

  margin-top: 7px;
  padding: 4px 5px;

  font-family: inherit;
  color: #222;

  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;

  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: #e08594;
}
